<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Dashboard</span>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/applications" routerLinkActive="active">Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles" routerLinkActive="active">Articles</a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Settings</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/code-lists" routerLinkActive="active">Code lists</a>
      </li>
    </ul>
  </div>
</nav>