<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-5 col-md-3 mr-0" routerLink="/">
    <img src="assets/logo.svg" style="max-height: 40px; max-width: 40px; margin-right: 10px;" />
    <span [innerHTML]="'DASHBOARD.HEADER.CAREER-DAMJANKO-COM' | translate"></span>
  </a>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="signout()" href="" translate>DASHBOARD.HEADER.SIGN-OUT</a>
    </li>
  </ul>
</nav>