<div class="row flex-md-row-reverse">
    <div class="col-md-4" [innerHTML]="application && application.applicationLetterSideSi && application.applicationLetterSideEn ? (lang === 'si' ? application.applicationLetterSideSi.content : application.applicationLetterSideEn.content) : ''"></div>
    <div class="col-md-8" [innerHTML]="application && application.applicationLetterMainSi && application.applicationLetterMainEn ? (lang === 'si' ? application.applicationLetterMainSi.content : application.applicationLetterMainEn.content) : ''"></div>
</div>