<div class="sign-in-container text-center">
  <form class="form-signin" (submit)="signin()">
    <img class="mb-4" src="assets/logo.svg" alt width="144" height="144">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputPassword" class="sr-only">Passphrase</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Passphrase" required autofocus="" [(ngModel)]="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="invalid-feedback" *ngIf="errorMessage != null">{{ errorMessage }}</div>
      <p class="mt-5 mb-3 text-muted">DamjanKo &copy; 2018</p>
  </form>
</div>