<div class="sign-in-container text-center">
  <form class="form-signin" (submit)="signin()">
    <img class="mb-4" src="assets/logo.svg" alt width="144" height="144">
    <h1 class="h3 mb-3 font-weight-normal" translate>PUBLIC.SIGN-IN.PLEASE-SIGN-IN</h1>
    <label for="inputPassword" class="sr-only" translate>PUBLIC.SIGN-IN.PASSPHRASE</label>
    <input type="password" id="inputPassword" name="password" class="form-control" [placeholder]="'PUBLIC.SIGN-IN.PASSPHRASE' | translate" required autofocus="" [(ngModel)]="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me">&nbsp;<span translate>PUBLIC.SIGN-IN.REMEMBER-ME</span>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" translate>PUBLIC.SIGN-IN.SIGN-IN</button>
    <div class="invalid-feedback" *ngIf="showErrorMessage" translate>PUBLIC.SIGN-IN.SIGN-IN-UNSUCCESSFUL</div>
      <p class="mt-5 mb-3 text-muted" [innerHTML]="'PUBLIC.SIGN-IN.DAMJANKO-CR' | translate"></p>
  </form>
</div>