<div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h1 class="h2">Client logs</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-default" (click)="clearFilter()">Clear filter</button>
      <button class="btn btn-sm btn-danger" (click)="delete()">Clear client logs</button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Created</th>
        <th>IP</th>
        <th>User</th>
        <th>Page</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clientLog of clientLogs">
        <td>{{clientLog.created | date: 'medium' }}</td>
        <td><a *ngIf="clientLog.ip" routerLink="/client-logs/{{clientLog.ip}}">{{clientLog.ip}}</a></td>
        <td>{{clientLog.user ? clientLog.user.name : null}}</td>
        <td>{{clientLog.page}}</td>
        <td>{{clientLog.message}}</td>
      </tr>
    </tbody>
  </table>
</div>