<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">New user</button>
      <button class="btn btn-sm btn-outline-secondary">Delete selected</button>
    </div>
  </div>
</div>
<p>Some user stuff</p>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th style="width: 3em;"></th>
          <th>User</th>
          <th>Role</th>
          <th>Created</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="text-center"><input type="checkbox"></td>
          <td>{{user.name}}</td>
          <td>{{user.role}}</td>
          <td>01.05.2018</td>
          <td>03.05.2018</td>
        </tr>
      </tbody>
    </table>
  </div>