.bg-primary  {
	background-color: #F7C351!important;
}

.bg-secondary  {
	background-color: #6B7A8F!important;
}

.bg-danger {
	background-color: #DF7474!important;
}

.btn-primary {
	background-color: #74ABCF!important;
	border-color: #73ABCF!important;
}

.btn-primary:hover {
	background-color: #74ABDF!important;
	border-color: #73ABDF!important;
}

.btn-secondary {
	background-color: #F7C351!important;
	border-color: #F7C351!important;
}

.btn-secondary:hover {
	background-color: #F7D351!important;
	border-color: #F7D351!important;
}

.btn-danger {
	background-color: #DF7474!important;
	border-color: #DE7474!important;
}

.btn-danger:hover {
	background-color: #CF7474!important;
	border-color: #CE7474!important;
}

/* Sticky footer styles
-------------------------------------------------- */

.html-root-signed-in {
	position: relative;
	min-height: 100%;
}
.body-root-signed-in {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.html-root-blank {
    height: 100%!important;
} 
.body-root-blank {
    height: 100%!important;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body main.container {
	padding: 60px 15px;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

header > nav { 
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
}
